bs4
colorama
gradio
faiss-cpu
fastapi
firebase
firebase-admin
langchain
marshmallow
nemoguardrails
openai
pinecone-client
replicate
socks
twilio
user_agents
uvicorn

black
pytest
pytest-cov
pytest-xdist
