name: Lint with black
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: setup
        uses: actions/checkout@v3  
      - name: setup-python
        uses: actions/setup-python@v3  
      - name: install black
        run: pip install black
      - name: lint
        run: black --check .
